# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyt

# Virtual environment
venv/
env/
.venv/

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
/media/
staticfiles/
*.sqlite3

# Environment variables
.env
.env.*

# Byte-compiled / cache
*.pyc
__pycache__/

# IDE / Editor files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Render
*.log
